<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Employee</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="./css/custom.css">

    <link rel="stylesheet" href="./css/addForm.css">
    <script src="/js/custom.js"></script>
    <script src="./js/custom.js"></script>
</head>
<body>
<div id="centerAlign">
    <div id="header">
        <h3>Chào mừng đến với ngân hàng KITS</h3>
        <h5>Thời gian hiện tại là <span id="time"></span></h5>
        <script>currentTime("time")</script>
    </div>
    <div id="body">
        <form method="POST" th:action="@{/chucvu}"
              th:object="${chucvu}">
            <h3>Input the Employee information ...</h3>
            <table cellspacing="5" border="0">
                <tr>
                    <td align="right"><label>Ma Chuc Vu: </label></td>
                    <td align="right"><input type="text" name="machucvu" th:field="*{machucvu}" /></td>
                </tr>
                <tr>
                    <td align="right"><label>Ten Chuc Vu: </label></td>
                    <td align="right"><input type="text" name="tenchucvu" th:field="*{tenchucvu}" /></td>
                </tr>

                <tr>
                    <td colspan="2"><button class="submitButton">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer">
        <h3>All rights reserved 2020 KITS Bank</h3>
        <div id="footer-bar">
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
            <a href="#">Thông tin tài chính</a>
        </div>
    </div>
</div>
</body>
</html>