<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Employee</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="./css/custom.css">

    <link rel="stylesheet" href="./css/addForm.css">
    <script src="/js/custom.js"></script>
    <script src="./js/custom.js"></script>
</head>



<body>
<div id="centerAlign">
    <div id="header">
        <h3>Chào mừng đến với ngân hàng KITS</h3>
        <h5>Thời gian hiện tại là <span id="time"></span></h5>
        <script>currentTime("time")</script>
    </div>
    <br>
    <div id="body">
        <form method="POST" th:action="@{/khachhang}"
              th:object="${khachhang}">
            <h3>Thêm mới khách hàng</h3>
            <table cellspacing="5" border="0">
                <tr>
                    <td align="right"><label>Ma Khach hang: </label></td>
                    <td align="right"><input type="text" name="makhachhang" th:field="*{makhachhang}" /></td>
                </tr>
                <tr>
                    <td align="right"><label>Chung Minh Thu: </label></td>
                    <td align="right"><input type="text" name="chungminhthu" th:field="*{chungminhthu}" /></td>
                </tr>
                <tr>
                    <td align="right"><label>Ten Khach Hang: </label></td>
                    <td align="right"><input type="text" name="tenkhachhang" th:field="*{tenkhachhang}" /></td>
                </tr>
                <tr>
                    <td align="right"><label>Ngay Sinh: </label></td>
                    <td align="right"><input type="text" name="ngaysinh" th:field="*{ngaysinh}" /></td>
                </tr>
                <tr>
                    <td align="right"><label>Dia Chi: </label></td>
                    <td align="right"><input type="text" name="diachi" th:field="*{diachi}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button class="submitButton">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer">
        <h3>All rights reserved 2020 KITS Bank</h3>
        <div id="footer-bar">
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
            <a href="#">Thông tin tài chính</a>
        </div>
    </div>
</div>
</body>
</html>