<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/jquery-3.2.1.js"></script>
    <script src="./js/bootstrap.js"></script>
    <style>
        #header,#footer {
            background-color: aquamarine;
        }
        table th {
            text-align: center;
        }
        td {
            padding-right: 5px;
        }

    </style>
</head>
<body>
<!-- begin header-->
<div id="header">
    <h3>Chào mừng đến với ngân hàng KITS</h3>
    <h5>Thời gian hiện tại là 10h</h5>
</div>
<!--end header-->
<!--begin body-->
<div id="body" >

   <h3 class="alert alert-danger">Đã xảy ra lỗi, vui lòng thử lại hoặc <a href="#">Liên hệ với chúng tôi</a></h3>
    <button class="alert alert-warning" onclick="window.history.back()">Quay trở lại trang trước</button>

</div>
<!--end body-->
<!--begin footer-->
<div id="footer">
    <h3>All rights reserved 2020 KITS Bank</h3>
    <div id="footer-bar">
        <a href="#">Về chúng tôi</a>
        <a href="#">Liên hệ</a>
        <a href="#">Thông tin tài chính</a>
    </div>
</div>
<!--end footer-->
</body>
</html>