<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Information Card Transaction</h1>
<table cellspacing="5" border="1" th:object="${giaodichThes}">
    <tr>
        <td align="right"><label >Ma Giao Dich </label></td>
        <td align="right"><label >Ma Tai Khoan Tiet Kiem </label></td>
        <td align="right"><label >Ma Tai Khoan Tin Dung</label></td>
        <td align="right"><label >Loai Giao Dich</label></td>
        <td align="right"><label >So Tien Giao Dich</label></td>
        <td align="right"><label >Ngay Giao Dich</label></td>
        <td align="right"><label >Ma Nhan Vien Thuc Hien</label></td>
    </tr>
    <tr th:each="giaodichThe:${giaodichThes} " >
        <td align="left"><label th:text="${giaodichThe.magiaodich}"></label></td>
        <td align="left"><label th:text="${giaodichThe.mataikhoantietkiem}"></label></td>
        <td align="left"><label th:text="${giaodichThe.mataikhoantindung}"></label></td>
        <td align="left"><label th:text="${giaodichThe.loaigiaodich}"></label></td>
        <td align="left"><label th:text="${giaodichThe.sotiengiaodich}"></label></td>
        <td align="left"><label th:text="${giaodichThe.ngaygiaodich}"></label></td>
        <td align="left"><label th:text="${giaodichThe.manhanvienthuchien}"></label></td>
    </tr>
</table>
<h3><a th:href="@{/giaodichThe/add-giaodichThe}">Create</a></h3>

<h2>Tim kiem giao dich the</h2>
<form  th:action="@{/giaodichThe/search-giaodichThe}" method="get">
    <input type="text" name="id" >
    <input type="submit" value="Search"/>
</form>
</body>
</html>