<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Custommer</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="./css/custom.css">
    <script src="/js/custom.js"></script>
    <script src="./js/custom.js"></script>
</head>
<body>
<div id="centerAlign">
    <div id="header">
        <h3>Chào mừng đến với ngân hàng KITS</h3>
        <h5>Thời gian hiện tại là <span id="time"></span></h5>
        <script>currentTime("time")</script>
    </div>

    <div id="body">
        <h1>Information Card Transaction</h1>
        <form  th:action="@{/giaodichThe/search-giaodichThe}" method="get">
            <input style="width: 350px"  type="text" name="id" placeholder="Tìm kiếm giao dịch thẻ">
            <button id="search" type="submit">Tìm kiếm</button>
        </form>
        <table cellspacing="5" border="1" th:object="${giaodichThes}">
            <tr>


                <th>Mã giao dịch</th>
                <th>Mã tài khoản tiết kiệm</th>
                <th>Mã tài khoản tín dụng</th>
                <th>Loại giao dịch</th>
                <th>Số tiền giao dịch</th>
                <th>Ngày giao dịch</th>
                <th>Mã nhân viên thực hiện</th>
            </tr>
            <tr th:each="giaodichThe:${giaodichThes} " >
                <td align="left"><label th:text="${giaodichThe.magiaodich}"></label></td>
                <td align="left"><label th:text="${giaodichThe.mataikhoantietkiem}"></label></td>
                <td align="left"><label th:text="${giaodichThe.mataikhoantindung}"></label></td>
                <td align="left"><label th:text="${giaodichThe.loaigiaodich}"></label></td>
                <td align="left"><label th:text="${giaodichThe.sotiengiaodich}"></label></td>
                <td align="left"><label th:text="${giaodichThe.ngaygiaodich}"></label></td>
                <td align="left"><label th:text="${giaodichThe.manhanvienthuchien}"></label></td>
            </tr>
        </table>
    </div>


    <div id="footer">
        <h3>All rights reserved 2020 KITS Bank</h3>
        <div id="footer-bar">
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
            <a href="#">Thông tin tài chính</a>
        </div>
    </div>
</div>
</body>
</html>