<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banking</title>
</head>
<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<a th:href="@{/khachhang}" >Khach Hang</a><br/>
<a th:href="@{/nhanvien}" >Nhan Vien</a><br/>
<a th:href="@{/chucvu}" >Chuc Vu</a><br/>
<a th:href="@{/taikhoan}">Tai Khoan</a><br/>
<a th:href="@{/giaodichThe}" >Giao Dich The</a><br/>
<a th:href="@{/giaodichKhachhang}" >Giao Dich Khach Hang</a><br/>
</body>
</html>
