<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Custommer</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="./css/custom.css">
    <script src="/js/custom.js"></script>
    <script src="./js/custom.js"></script>
</head>
<body>
<div id="centerAlign">
    <div id="header">
        <h3>Chào mừng đến với ngân hàng KITS</h3>
        <h5>Thời gian hiện tại là <span id="time"></span></h5>
        <script>currentTime("time")</script>
    </div>

    <form  th:action="@{/khachhang/search-khachhang}" method="get">
        <input style="width: 350px"  type="text" name="id" placeholder="Tìm kiếm khách hàng theo tên hoặc ID">
        <button id="search" type="submit">Tìm kiếm</button>
    </form>
    <table cellspacing="5" border="1" th:object="${khachhangs}">
        <tr>


            <th>Mã khách hàng</th>
            <th>Chứng minh thư</th>
            <th>Tên khách hàng</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th colspan="2">Thao tác</th>
        </tr>
        <tr th:each="khachhang:${khachhangs} " >
            <td align="left"><label th:text="${khachhang.makhachhang}"></label></td>
            <td align="left"><label th:text="${khachhang.chungminhthu}"></label></td>
            <td align="left"><label th:text="${khachhang.tenkhachhang}"></label></td>
            <td align="left"><label th:text="${khachhang.ngaysinh}"></label></td>
            <td align="left"><label th:text="${khachhang.diachi}"></label></td>
            <td><a href="#" th:href="@{/khachhang/edit-khachhang/{id}(id=${khachhang.makhachhang})}">Edit</a></td>
            <td><a href="#" th:href="@{/khachhang/delete-khachhang/{id}(id=${khachhang.makhachhang})}" onclick="return confirm('Bạn chắc chắn muốn xóa')">Delete</a></td>
        </tr>
    </table>
    <button class="taomoi"><a href="/khachhang/add-khachhang">Đăng kí khách hàng mới</a></button>
    <br>
    <div id="footer">
        <h3>All rights reserved 2020 KITS Bank</h3>
        <div id="footer-bar">
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
            <a href="#">Thông tin tài chính</a>
        </div>
    </div>


</div>
</body>
</html>