<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Employee</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css">



    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>
<div id="centerAlign">
    <div id="header">
        <h3>Chào mừng đến với ngân hàng KITS</h3>
        <h5>Thời gian hiện tại là 10h</h5>
    </div>
    <br>
    <div id="body">
        <form  th:action="@{/nhanvien/search-nhanvien}" method="get">
            <input style="width: 350px"  type="text" name="id" placeholder="Tìm kiếm nhân viên theo tên hoặc ID">
            <button id="search" type="submit">Tìm kiếm</button>
        </form>
        <table cellspacing="5" border="1" th:object="${nhanviens}">
            <tr>
                <th>Mã nhân viên</th>
                <th>Chứng minh thư</th>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Bậc nghề</th>
                <th>Thâm niên</th>
                <th>Mã chức vụ</th>
                <th colspan="2">Thao tác</th>
            </tr>
            <tr th:each="nhanvien:${nhanviens} " >
                <td align="left"><label th:text="${nhanvien.manhanvien}"></label></td>
                <td align="left"><label th:text="${nhanvien.chungminhthu}"></label></td>
                <td align="left"><label th:text="${nhanvien.tennhanvien}"></label></td>
                <td align="left"><label th:text="${nhanvien.ngaysinh}"></label></td>
                <td align="left"><label th:text="${nhanvien.bacnghe}"></label></td>
                <td align="left"><label th:text="${nhanvien.thamnien}"></label></td>
                <td align="left"><label th:text="${nhanvien.machucvu}"></label></td>
                <td><a href="#" th:href="@{/nhanvien/edit-nhanvien/{id}(id=${nhanvien.manhanvien})}">Edit</a></td>
                <td><a href="#" th:href="@{/nhanvien/delete-nhanvien/{id}(id=${nhanvien.manhanvien})}">Delete</a></td>
            </tr>
        </table>
        <!--<h3><a th:href="@{/nhanvien/add-nhanvien}">Create</a></h3>-->

        <button class="taomoi"><a href="/nhanvien/add-nhanvien">Đăng kí nhân viên mới</a></button>


    </div>
    <br>
    <div id="footer">
        <h3>All rights reserved 2020 KITS Bank</h3>
        <div id="footer-bar">
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
            <a href="#">Thông tin tài chính</a>
        </div>
    </div>

</div>
</body>
</html>