<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form onsubmit="validate()">
    <p>
        <input type="text"id="phone-number" placeholder="phone number"/>
    </p><p>
    <input type="text" id="postal-code" placeholder="postal code" />
</p>
    <p>
        <input type="submit" />
    </p>
</form>
<script>
    function validate(){
        var phoneNumber = document.getElementById('phone-number').value;
        var postalCode = document.getElementById('postal-code').value;
        var k2 = document.getElementById('phone-number').value;
        alert(k2)
        var phoneRGEX = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/;
        var postalRGEX = /^[A-Z]{1,2}[0-9]{1,2} ?[0-9][A-Z]{2}$/i;
        var phoneResult = phoneRGEX.test(phoneNumber);
        var postalResult = postalRGEX.test(postalCode);
        alert("phone:"+phoneResult + ", postal code: "+postalResult);

        return false;
    }
</script>
</body>
</html>