<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Credit Account </title>
</head>
<body>
<h1>Information Credit Account</h1>
<table cellspacing="5" border="1" th:object="${taikhoanTindungs}">
    <tr>
        <td align="right"><label >Ma Tai Khoan Tin dung</label></td>
        <td align="right"><label >Ten Loai Tai Khoan</label></td>
        <td align="right"><label >Han Muc Toi Da</label></td>
        <td align="right"><label >So No Hien Tai</label></td>
        <td>Edit</td>
    </tr>
    <tr th:each="taikhoanTindung:${taikhoanTindungs} " >
        <td align="left"><label th:text="${taikhoanTindung.mataikhoantindung}"></label></td>
        <td align="left"><label th:text="${taikhoanTindung.tenloaitaikhoan}"></label></td>
        <td align="left"><label th:text="${taikhoanTindung.hanmuctoida}"></label></td>
        <td align="left"><label th:text="${taikhoanTindung.sonohientai}"></label></td>
        <td><a href="#" th:href="@{/taikhoanTindung/edit-taikhoanTindung/{id}(id=${taikhoanTindung.mataikhoantindung})}">Edit</a></td>
    </tr>
</table>
<h2>Tim kiem tai khoan tin dung</h2>
<form  th:action="@{/taikhoanTindung/search-taikhoanTindung}" method="get">
    <input type="text" name="id" >
    <input type="submit" value="Search"/>
</form>
</body>
</html>